header {
  padding: 10px;
  display: flex;
  justify-content: flex-end;

  img {
    padding: 10px 15px;

    &:hover {
      cursor: pointer;
    }
  }
}

.cart-body {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.cart-title-wrap {
  display: flex;
  flex-direction: column;

  .bag-title {
    margin: 0;
    letter-spacing: 3px;
  }
}

.items-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin: 15px 0;

  img {
    height: 90px;
    width: 90px;
  }

  .item-description {
    padding-left: 10px;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .item-info {
      height: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &.name {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -1px;
      }

      &.details {
        font-size: 13px;
      }

      &.quantity {
        width: 80px;
        height: 30px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .increment,
  .decrement {
    font-size: 30px;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }
  }

  .decrement {
    margin-bottom: 5px;
  }

  .current-quantity {
    border: 2px solid #a7a7a7;
    border-radius: 3px;
    margin: 0 5px;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
  }

  .item-total {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
  }
}

.subtotal-wrap {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p {
    font-size: 16px;
    font-weight: 600;
  }

  .order-total {
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .cart-body {
    padding: 10px;
  }

  .items-wrap {
    height: 140px;

    img {
      height: 140px;
      width: 140px;
    }
  }
}
