.page-nav {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  letter-spacing: 3px;

  &:hover {
    border-bottom: 3px solid rgb(237, 177, 49);
    transition: all 0.5s ease;
    cursor: pointer;
    content: '';
    height: 21px;
  }
}

#bag-wrap {
  display: flex;

  margin-right: 20px;
  padding-bottom: 5px;

  &:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.2s;
  }
}
