* {
  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100vh;
}

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-y: scroll;
}

.navbar {
  height: 30px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}

.pages {
  flex: 1;
}

footer {
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 5px;
  }

  .logos {
    margin-left: 10px;
    transition: 0.1s;

    &:hover {
      scale: 1.15;
      transition: 0.3s;
    }
  }
}

.cart-overlay {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  width: 500px;
  right: -510px;
  transition: 0.3s ease-in-out;
  height: 100vh;

  &.active {
    right: 0;
    transition: 0.5s ease-in-out;
    z-index: 10;
  }
}

.overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(3px);
  }
}

@media screen and (max-width: 500px) {
  .cart-overlay {
    width: 100%;
    right: -110%;
  }
}
